table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
  }
  
table td{
  border-top: 1px solid rgba(245, 245, 245, 0.404);
  border-bottom: 1px solid rgba(245, 245, 245, 0.404);
  padding: 8px;
}

table th {
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsl(225, 4%, 25%);
  color: white;
  position: sticky;
  top: 0;
}

table tr:hover {
background-color: #ddd;
color: black;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: #141415;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #009B83;
  border-radius: 10px;
}

