@import url("https://fonts.googleapis.com/css?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}
body {
  background: #172031;
  color: white;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
}

.login-form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-form .user-box {
  position: relative;
}

.login-form .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  margin-bottom: 30px;
}

.login-form .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-form .user-box input:valid ~ label,
.login-form .user-box input:focus ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.forgot-password {
  font-size: 12px;
  color: #5b6b8b;
  float: right;
}

.btn-submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  letter-spacing: 4px;
  border: solid #03e9f4;
  background: rgba(0, 0, 0, 0.5);
}

.btn-submit:hover {
  background: #03e9f4;
  color: rgba(10, 11, 21);
  border-radius: 5px;
}

.btn-submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.register-link {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.register-box {
  display: flex;
  justify-content: space-between;
}

.register-box input {
  width: 50%;
}

.instructions {
  color: #ff2530;
}

.offscreen {
  display: none;
}

.custom-link {
  color: #4070f5 !important;
  text-decoration: none;
}

.register-box input {
  color: #fff;
  font-size: 16px;
  border: 1px solid hsl(220, 8%, 40%);
  border-radius: 3px;
  outline: none;
  background: transparent;
  margin-bottom: 5px;
}

.register-box input:focus {
  border-color: #03e9f4;
}
