.nav{
    background-color: white;
    color: black;
    width: 75px;
    height: 100vh;
    display: flex;
}

.nav ul {
    list-style: none;
    margin:2px;
    padding: 0.2rem;
    text-align: center;
}

.nav a {
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
}

img{
    width: 50px;
    height: 50px;
}

.img-container{
    display:flex;
    justify-content: center;
}

a.nav_link:hover {
    cursor: pointer;
    background-color: #777; 
    }


.active{
    background-color: rgb(255, 0, 0);
}
